*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    margin-left: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(231, 249, 249, 0.968);
}


.navbar .nav-resume{
    width: 15vmin;
    margin-right: 4vmin;
}

.navbar .nav-resume a{
    display: inline-block;
    width: 90%;
    text-decoration: none;
    color: white;
    height: 5vmin;
    background-color: rgb(112, 205, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.navbar .nav-resume a:hover{
    background-color: black;
}


.navbar .nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(231, 249, 249, 0.968);
}

.nav{
    padding: 0px;
    
}

.navimg{
    /* position: relative; */
    height: 80px;
    width: 80px;
    border-radius: 25px;
    margin-right: 30px;
}

.nav li{
    display: inline-block;
    padding: 10px;
    margin: auto 10px auto 10px;
    background-color: rgb(112, 205, 202);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.nav li:hover{
    background-color: rgb(13, 19, 18);
    color: rgb(255, 255, 255);
    
}

.container{
    text-align: center;
}

.middle-container{
    background-color: rgba(245, 250, 252, 0.968);
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile h2{
    margin: 3vmin 0;
}

.profile p{
    line-height: 2;
    width: 60%;
    text-align: justify;
    margin: 3vmin 0;
}

p{
    letter-spacing: 0.2vmin;
}

.top-c{
    /* margin: 0px; */
    background-color: rgba(231, 249, 249, 0.968);
    /* padding: 20px; */
    position: relative;
    padding-top: 80px;
}

h1{
    font-size: 50px;
    width: 10%;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    font-family: 'Fasthand', cursive;
}

.h2{
    margin: 56px 0px 0px 0px;
    font-size: 3rem;
}

h2,h3{
    font-size: 1.6rem ;
}

h1, h2, h3{
    color: rgb(82, 158, 156);
}

.para{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: rgb(71, 177, 174);

}


.cloud{
    height: 100px;
    width: 170px;
    position: absolute;
    right: 300px;
    top: 10px;
}

.cloud1{
    height: 100px;
    width: 170px;
    position: absolute;
    left: 250px;
}

.mountain{
    width: 50%;
}

.pi{
    height: 200px;
    width: 160px;
    border-radius: 18px;
    margin: 60px 0px 0px 0px;
}

.skill-row{
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;
}


.skill{
    width: 60%;
    /* height: 170px; */
}

.skill-row p{
    margin-bottom: 40px;
    text-align: justify;
    margin: 3vmin 1vmin;
}

.code .code-img{
    /* height: 150px; */
    width: 25%;
    margin: 15px;
}

.btn{
    text-decoration: none;
    border-radius: 6px;
    padding: 7px;
    color: white;
    background-color:rgb(67, 192, 187) ;
}

.btn:hover{
    color: black;
}

.resume-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume{
    height: 5vmin;
    width: 18vmin;
    background-color:rgb(67, 192, 187) ;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 6vmin 2vmin;
}

.resume:hover a{
    color:rgb(0, 0, 0);
}

.resume a {
    text-decoration: none;
    color: white;
}

.contact-me{
    width: 50%;
    margin: 100px auto 0px auto;
    padding-bottom: 40px;
    line-height: 2;
}

.contact-me p{
    margin: 3vmin 0vmin;
}

.footer-link{
    height: 28px;
    width: 28px;
    margin: 9px;
}


.bottom-container{
    padding: 20px 0px 20px 0px;
    background-color:rgb(119, 222, 219) ;
}

hr{
    border: dotted 5px;
    border-bottom: none;
    color: lightsteelblue;
    width: 25%;
    padding: 50px auto 50px auto;
}


.hr hr{
    background-color: rgba(245, 250, 252, 0.968);
    margin: 0px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
